body {
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  border-bottom: solid 1px seashell;
  height: 69px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
}

img.logo {
  height: 50px;
  padding-left: 10px;
}

nav {
  margin-right: 20px;
}

nav a {
  color: seashell;
  padding: 0px 10px;
}

.main-container {
  margin: auto;
  width: 1200px;
}

.flex-box {
  height: 700px;
  background: url("../images/img-mission-background.jpg");
  border: solid 1px black;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box-content {
  background: black;
  border: solid 1px black;
  text-align: center;
}

.product {
  border: solid 1px black;
  background: black;
  width: 1000px;
  margin: auto;
}

.product-title {
  text-align: center;
}

.product-flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-item {
  text-align: center;
}

.product-item img {
  height: 200px;
  width: 300px;
}

.product-item h4 {
  margin-top: 10px;
}

.locations {
  background: url("../images/img-locations-background.jpg");
  height: 500px;
  padding-top: 30px;
}

.location-title {
  text-align: center;
  padding-top: 10px;
}

.location-title h2 {
  margin-bottom: 15px;
}

.location-flexbox {
  display: flex;
  justify-content: center;
}

.location-item {
  border: solid 1px black;
  background: black;
  width: 300px;
  height: 300px;
  margin: 0 20px;
  opacity: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.contact {
  background: black;
  text-align: center;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 15px;
}

footer {
  background: black;
  display: flex;
  padding-left: 20px;
}
