body {
  /*background-color: black;*/
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  border-bottom: solid 1px seashell;
  height: 69px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
}

img.logo {
    height: 50px;
    padding-left: 10px;
}

nav {
  margin-right: 20px;
}

nav a {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  padding: 0px 10px;
}

.main-container {
  margin: auto;
  width: 1200px;
}

.box {
  height: 700px;
  border: solid 1px black;
  margin-top: 70px;
  background: lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box-content {
  border: solid 1px black;
  text-align: center;
}
